[submodule "plugins_git/ctrlp.vim"]
    path = plugins_git/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins_git/nerdtree"]
    path = plugins_git/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins_git/vim-surround"]
    path = plugins_git/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "plugins_git/mru"]
    path = plugins_git/mru
    url = https://github.com/yegappan/mru.git
[submodule "plugins_git/tabular"]
    path = plugins_git/tabular
    url = https://github.com/godlygeek/tabular.git
[submodule "plugins_git/vim-airline"]
    path = plugins_git/vim-airline
    url = https://github.com/bling/vim-airline.git
[submodule "plugins_git/vim-fugitive"]
    path = plugins_git/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins_git/GlobalOptions"]
	path = plugins_git/GlobalOptions
	url = https://github.com/vim-scripts/GlobalOptions.git
[submodule "plugins_git/vim-indent-guides"]
	path = plugins_git/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "plugins_git/verilog_systemverilog.vim"]
	path = plugins_git/verilog_systemverilog.vim
	url = https://github.com/vhda/verilog_systemverilog.vim
[submodule "plugins_git/hl_matchit.vim"]
	path = plugins_git/hl_matchit.vim
	url = https://github.com/vimtaku/hl_matchit.vim.git
